<mat-toolbar color="primary">
    <div class="header">
      <div class="left">
        <nav>
            <a routerLink="/home">
                <div class="title">
                    {{title}}
                </div>
            </a>
        </nav>
      </div>
      <div class="right">
        <div>
          {{activeUser}}
        </div>
        <button mat-icon-button>
          <mat-icon aria-hidden="false" color="accent" (click)="logout()">logout</mat-icon>
        </button>
      </div>
    </div>
</mat-toolbar>
