.header {
    // height: 3rem;
    .title {
        position: relative;
        left: calc(50% - 5rem);
        font-size: 2rem;
        width: 10rem;
        font-weight: bolder;
    }

    a {
        text-decoration: none;
    }
}