.card {
    background: #140955;
    word-wrap: break-word;

    .grid { grid-template-columns: repeat(10, 1fr); }
}

.homeGrid {
    margin: 0.5rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas:
    "grid posts";
}

.posts {
    grid-area: posts;
}

.grid {
    grid-area: grid;
    display: grid;
    grid-gap: 1rem;
}

.header {
    cursor: pointer;
}

@media (min-width: 400px) {
    .homeGrid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 800px) {
    .homeGrid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1200px) {
    .homeGrid { grid-template-columns: repeat(2, 1fr); }
}
