.addPostForm * {
    margin: 5px;
}

.post-table {
    width: 100%;
}

.month-button {
    width: 100%;
    height: 3em;
}

.button-grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.month-card {
    width: 120px;
}


.selected {
    background-color: rgb(102, 78, 185);
}

@media (max-width: 800px) {
    .button-grid { grid-template-columns: repeat(2, 1fr); }
}

// @media (min-width: 1250px) {
//     .button-grid { grid-template-columns: repeat(2, 1fr); }
// }

// @media (min-width: 1400px) {
//     .button-grid { grid-template-columns: repeat(3, 1fr); }
// }