
.item {
    display: flex;
    align-items: center;

    .id {
        width: 100%;
        border-right: 0.5em black outset;
        padding-left: 10px;
    }

    .desc {
        padding-left: 4px;
    }
}