.addPostForm * {
    margin: 5px;
}

.item {
    display: flex;
    align-items: center;

    .text {
        width: 10rem;
        padding-left: 1rem;
        font-size: 2rem;

        &.number {
            text-align: right;
        }
    }
}