.addPostForm * {
    margin: 5px;
}

.item {
    display: flex;
    align-items: center;

    .text {
        width: 10rem;
        padding-left: 1rem;
        font-size: 2rem;

        &.number {
            text-align: right;
        }
    }
}

.month-button {
    width: 100%;
    height: 3em;
    margin: 5px 0 5px 0;
}