@import '@angular/material/prebuilt-themes/purple-green.css';
// @include mat-core();


$input: #26de81;
$input-color: #4b6584;
$border-color: #20bf6b;
$page-title-color: #3867d6;
$delete-color: #eb3b5a;
$edit-color:#0fb9b1;
$copy-color: #3867d6;

.middle-box {
    display: grid;
    justify-items: center;
    
    form {
        display: flex;
        justify-items: center;
    }
}

.page-title {
    font-size: 2rem;
    text-align: center;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
