@import '@angular/material/prebuilt-themes/purple-green.css';

.box {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 200px calc(100% -200px);
    grid-template-areas:
    "head head head"
    "left main right";
    grid-template-columns: 1fr 1fr 1fr;

    .middle-box {
        grid-area: main;
        justify-items: center;
    }
        
    .head-box {
        grid-area: head;
        display: grid;
        justify-items: center;

        form {
            display: flex;
        }
    }

    .left-box {
        grid-area: left;
    }
    
    .right-box {
        grid-area: right;
    }
}

@media (min-width: 1200px) {
    .box {
        grid-template-columns: 1fr 1fr 1fr;

    }
}

@media (max-width: 800px) {
    .box { 
        grid-template-columns: 0fr 3fr 0fr;
    }
}

.page-title {
    font-size: 2rem;
    text-align: center;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
