<h2 class="page-title">Lançamentos para <span *ngIf="postService.filter.month">{{postService.filter.month | month}} de </span>{{postService.filter.year}} = {{saldo | number : '1.2'}}
</h2>
<div>
  <div class="box">
    <div class="head-box">
      <div class="filter-container">
        <mat-form-field>
          <mat-label>Mês</mat-label>
          <mat-select [(ngModel)]="postService.filter.month" (selectionChange)="filterChanged()" name="month-filter">
            <mat-option>Todos</mat-option>
            <mat-option *ngFor="let month of postService.sumPerMonth" [value]="month.month">{{month.month | month}} |
              {{month.sum | number : '1.2'}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ano</mat-label>
          <mat-select [(ngModel)]="postService.filter.year" (selectionChange)="filterChanged()" name="year-filter">
            <mat-option>Todos</mat-option>
            <mat-option *ngFor="let year of postService.years" [value]="year">{{year}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <form class="addPostForm" [formGroup]="addPostForm" (ngSubmit)="add()">
        <mat-checkbox formControlName="isInvoice" name="invoice">Entrada</mat-checkbox>
        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <mat-select required formControlName="category" name="categorie">
            <mat-option *ngFor="let c of categoryService.entities$ | async" [value]="c.id">{{c.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Conta</mat-label>
          <mat-select required formControlName="account" (selectionChange)="selectAccount($event.value)"
            name="account-filter">
            <mat-option>Todos</mat-option>
            <mat-option *ngFor="let account of accountService.entities$ | async" [value]="account">{{account.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Observação</mat-label>
          <input matInput formControlName="description" type="text" placeholder="Ex: Caneta azul" name="description" />
        </mat-form-field>
        <mat-form-field>
          <input matInput required formControlName="dayOfMonth" placeholder="Dia do mês" type="number" name="day" />
        </mat-form-field>
        <mat-form-field>
          <input matInput required formControlName="value" placeholder="Valor" type="number" name="value" />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!addPostForm.valid"
          value="Add">Gravar</button>
      </form>
    </div>
    <div class="middle-box">
      <post-list [posts]='filteredPosts' (deletePost)='postService.delete($event)' (selectPost)='select($event)'>
      </post-list>
    </div>
  </div>
</div>