<h2 class="page-title">{{selectedYear}} Lançamentos para {{selectedMonth | month}} Total : ???</h2>
<div>
  <div class="box">
    <div class="head-box">
      <form class="addPostForm" action="#" method="POST">
        <mat-checkbox [(ngModel)]="post.invoice" name="invoice">Entrada</mat-checkbox>
        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <mat-select [(ngModel)]="post.categoryId" name="categorie">
            <mat-option *ngFor="let c of categories" [value]="c.id">{{c.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Observação</mat-label>
          <input matInput [(ngModel)]="post.description" type="text" placeholder="Ex: Caneta azul" name="description" />
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="day" placeholder="Dia do mês" type="number" name="day" />
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="post.value" placeholder="Valor" type="number" name="value" />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="add()" value="Add">Gravar</button>
      </form>
    </div>
    <div class="left-box">
      <div class="button-grid" name="fontStyle">
        <button mat-raised-button *ngFor="let account of accounts" (click)="selectAccount(account.id)"
          [ngClass]="{selected: selectedAccount == account.id}">
          {{account.name}}
        </button>
      </div>
    </div>
    <div class="middle-box">
      <table mat-table [dataSource]="filteredPosts" matSort class="mat-elevation-z8 post-table">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let post">{{post.date | date : 'dd.MM.yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Categoria</th>
          <td mat-cell *matCellDef="let post">{{post.categoryId | category}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let post">{{post.description}}</td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Valor</th>
          <td mat-cell *matCellDef="let post">{{post.value | number : '1.2'}}</td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Apagar</th>
          <td mat-cell *matCellDef="let post">
            <button class="delete-button" mat-raised-button color="primary" (click)="delete(post.id)">
              X
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let post; columns: displayedColumns;" (click)="select(post)"></tr>
      </table>
    </div>
    <div class="right-box">
      <div class="button-grid">
        <mat-card *ngFor="let month of sumPerMonth" [ngClass]="{selected: selectedMonth == month.month}"
          class="month-card" (click)="selectMonth(month.month)">
          <mat-card-header>
            <mat-card-title>{{month.month | month}}</mat-card-title>
            <mat-card-subtitle>{{month.sum | number : '1.2'}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Some Info
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="button-grid">
        <button mat-raised-button *ngFor="let year of existingYears" (click)="selectYear(year)"
          [ngClass]="{selected: selectedYear == year}">
          {{year}}
        </button>
      </div>
    </div>
  </div>
</div>