@import "../../../assets/style/variables.scss";

.post-table {
    width: 100%;
}

.filter-container, .addPostForm {
    justify-content: center;
    display: flex;

    &.addPostForm {
        align-items: center;
    }

    > * {
        margin-right: 10px;
    }
}