<div class="box-container">
    <div class="box">
        <nav>
            <a routerLink="/categories">
                <div class="inner">
                    <p class="nav">Categorias</p>
                </div>
            </a>
        </nav>
    </div>
    <div class="box">
        <nav>
            <a routerLink="/posts">
                <div class="inner">
                    <p class="nav">Lançamentos</p>
                </div>
            </a>
        </nav>
    </div>
    <div class="box">
        <nav>
            <a routerLink="/accounts">
                <div class="inner">
                    <p class="nav">Contas</p>
                </div>
            </a>
        </nav>
    </div>
</div>