<div class="box">
  <div class="head-box">
    <h2 class="page-title">Contas</h2>
    <button mat-raised-button color="accent" (click)="add()" value="add">Limpar</button>
    <button mat-raised-button color="warn" (click)="delete()" value="delete">Remover</button>
    <form class="addPostForm" action="#" method="POST">
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="account.name" type="text" placeholder="Ex: Mercado" name="name" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="add()" value="Add">Gravar</button>
    </form>
  </div>

  <div class="middle-box">
    <div class="button-grid">
      <mat-card *ngFor="let acc of accounts" [ngClass]="{selected: acc == account}" class="account-card"
        (click)="onSelect(acc.id)">
        <mat-card-header>
          <mat-card-title>{{acc.name}}</mat-card-title>
          <mat-card-subtitle>{{acc.id}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>